<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="A Yoncé-inspired theme for Alfred, Bash-it, iTerm, Slack, and Visual Studio Code.">

  <meta property="og:url" content="http://yoncetheme.com"/>
  <meta property="og:title" content="Yoncé"/>
  <meta property="og:description" content="A Yoncé-inspired theme for Alfred, Bash-it, iTerm, Slack, and Visual Studio Code."/>
  <meta property="og:site_name" content="yoncetheme.com"/>
  <meta property="og:image" content="http://yoncetheme.com/images/unfurl.jpg"/>

  <!-— twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="yoncetheme.com" />
  <meta name="twitter:title" value="Yoncé" />
  <meta name="twitter:description" value="A Yoncé-inspired theme for Alfred, Bash-it, iTerm, Slack, and Visual Studio Code." />
  <meta name="twitter:image" content="http://yoncetheme.com/images/unfurl.jpg" />
  <meta name="twitter:url" value="http://www.yoncetheme.com/" />

  <link rel="stylesheet" href="https://use.typekit.net/fxo6cgs.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Yoncé</title>
</head>
